Assignmate.AssignmentService/Assignmate.AssignmentService/bin/
Assignmate.AssignmentService/Assignmate.AssignmentService/obj/
Assignmate.AssignmentService/Assignmate.AssignmentService/appsettings.json
Assignmate.AssignmentService/Assignmate.AssignmentService/appsettings.Development.json