Assignmate.AssignmentService/Assignmate.AssignmentService/bin/
Assignmate.AssignmentService/Assignmate.AssignmentService/obj/
Assignmate.AssignmentService/Assignmate.AssignmentService/appsettings.json
Assignmate.AssignmentService/Assignmate.AssignmentService/appsettings.Development.json

Assignmate.PaymentService/Assignmate.PaymentService/bin/
Assignmate.PaymentService/Assignmate.PaymentService/obj/
Assignmate.PaymentService/Assignmate.PaymentService/appsettings.json
Assignmate.PaymentService/Assignmate.PaymentService/appsettings.Development.json

Assignmate.AnalyticsService/Assignmate.AnalyticsService/bin/
Assignmate.AnalyticsService/Assignmate.AnalyticsService/obj/
Assignmate.AnalyticsService/Assignmate.AnalyticsService/appsettings.json
Assignmate.AnalyticsService/Assignmate.AnalyticsService/appsettings.Development.json